{% extends 'base.html.twig' %}

{% block content %}
    <h1>Order a Pizza!</h1>
    <div class="pizza_ordering">
        <div class="error errors_danger">

        </div>
        <form method="POST">
            <div id="step1">
                <div class="input">
                    <input type="text" name="first_name" id="first_name">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input">
                    <input type="text" name="last_name" id="last_name">
                    <label for="last_name">Last Name</label>
                </div>
                <div class="input">
                    <input type="text" name="phone" id="phone">
                    <label for="phone">Phone Number</label>
                </div>
                <button type="button" class="button button_green" id="step1_button">Make The Pizza</button>
            </div>
            <div id="step2">
                <div class="step2_container">
                    <div class="pizza_container">
                        <img src="/img/pan.png" id="pan" alt="">
                        <img src="/img/thin.png" id="thin" alt="" style="display: none">
                        <img src="/img/hand_tossed.png" id="hand_tossed" alt="" style="display: none">
                        <img src="/img/pepperoni.png" id="pepperoni" alt="" style="display: none">
                        <img src="/img/beef.png" id="beef" alt="" style="display: none">
                        <img src="/img/ham.png" id="ham" alt="" style="display: none">
                        <img src="/img/italian_sausage.png" id="italian_sausage" alt="" style="display: none">
                        <img src="/img/pork.png" id="pork" alt="" style="display: none">
                        <img src="/img/chicken.png" id="chicken" alt="" style="display: none">
                        <img src="/img/mushrooms.png" id="mushrooms" alt="" style="display: none">
                        <img src="/img/onions.png" id="onions" alt="" style="display: none">
                        <img src="/img/green_bell_pepper.png" id="green_bell_pepper" alt="" style="display: none">
                        <img src="/img/spinach.png" id="spinach" alt="" style="display: none">
                        <img src="/img/tomato.png" id="tomato" alt="" style="display: none">
                        <img src="/img/olives.png" id="olives" alt="" style="display: none">
                        <img src="/img/pineapple.png" id="pineapple" alt="" style="display: none">
                        <img src="/img/jalepeno.png" id="jalepeno" alt="" style="display: none">
                    </div>
                    <div class="pizza_selection">
                        <div class="pizza_type_container">
                            <h4>Pizza Type</h4>
                            <div class="input">
                                <input type="radio" id="pan_radio" value="pan" class="pizza_type" name="pizza_type" checked>
                                <label for="pan_radio">Pan</label>
                            </div>
                            <div class="input">
                                <input type="radio" id="thin_radio" value="thin" class="pizza_type" name="pizza_type">
                                <label for="thin_radio">Thin</label>
                            </div>
                            <div class="input">
                                <input type="radio" id="hand_tossed_radio" value="hand_tossed" class="pizza_type" name="pizza_type">
                                <label for="hand_tossed_radio">Hand Tossed</label>
                            </div>
                        </div>
                        <div class="toppings_container">
                            <h4>Toppings</h4>
                            <div class="input">
                                <input type="checkbox" id="pepperoni_checkbox" value="pepperoni" class="toppings" name="toppings">
                                <label for="pepperoni_checkbox">Pepperoni</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="beef_checkbox" value="beef" class="toppings" name="toppings">
                                <label for="beef_checkbox">Beef</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="ham_checkbox" value="ham" class="toppings" name="toppings">
                                <label for="ham_checkbox">Ham</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="italian_sausage_checkbox" value="italian_sausage" class="toppings" name="toppings">
                                <label for="italian_sausage_checkbox">Italian Sausage</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="pork_checkbox" value="pork" class="toppings" name="toppings">
                                <label for="pork_checkbox">Pork</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="chicken_checkbox" value="chicken" class="toppings" name="toppings">
                                <label for="chicken_checkbox">Chicken</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="onions_checkbox" value="onions" class="toppings" name="toppings">
                                <label for="onions_checkbox">Onions</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="green_bell_pepper_checkbox" value="green_bell_pepper" class="toppings" name="toppings">
                                <label for="green_bell_pepper_checkbox">Green Bell Pepper</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="spinach_checkbox" value="spinach" class="toppings" name="toppings">
                                <label for="spinach_checkbox">Spinach</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="tomato_checkbox" value="tomato" class="toppings" name="toppings">
                                <label for="tomato_checkbox">Tomato</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="olives_checkbox" value="olives" class="toppings" name="toppings">
                                <label for="olives_checkbox">Olives</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="pineapple_checkbox" value="pineapple" class="toppings" name="toppings">
                                <label for="pineapple_checkbox">Pineapple</label>
                            </div>
                            <div class="input">
                                <input type="checkbox" id="jalepeno_checkbox" value="jalepeno" class="toppings" name="toppings">
                                <label for="jalepeno_checkbox">Jalepeno Peppers</label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="button button_green">Order Pizza!</button>
            </div>
        </form>
    </div>
{% endblock %}