{% extends "base.html.twig" %}

{% block content %}

    <h1>What would you like to do?</h1>

    <div class="wrapper_center">
        <div class="decisions_decisions">
            <a href="/create" class="button button_green">Create an Order</a>
            <a href="/find" class="button button_green">Find Orders</a>
        </div>
    </div>

{% endblock %}