{% extends 'base.html.twig' %}


{% block content %}

    <h1>Viewing Orders</h1>

    <div class="wrapper_center">

        <ul class="orders">
            {% for order in orders %}
                <li class="order">
                    <ul>
                        <li>Name: {{ order.getFullName() }}</li>
                        <li>Phone Number: {{ order.getPhoneNumber() }}</li>
                        <li>Toppings: {{ order.getToppingsHuman() }}</li>
                        <li>Pizza Type: {{ order.getTypeHuman() }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}