{% extends 'base.html.twig' %}

{% block content %}

    <h1>Thanks for ordering!</h1>
    <div style="text-align: center;">
        <p>Your pizza will be delivered {{ reallyFarAwayDate }}</p>
        <small>Remember, 30 minutes or more and it's free. ( I wonder why we're losing money with this policy )</small>
    </div>

{% endblock %}